<!DOCTYPE html>
  {{ with .Site.LanguageCode }}
    <html lang="{{ . }}">
      {{ else }}
    <html>
  {{ end }}
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <div class="container">
      {{- partial "site-header.html" . -}}
      <div class="content-container">
        {{- partial "sidebar.html" . -}}

        <main>
          {{- block "main" . -}}{{- end -}}
        </main>
      </div>
    </div>

    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  </body>
</html>
